services:
  postgres:
    image: postgres:17.7
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=semantix
      - POSTGRES_USER=semantix
      - POSTGRES_PASSWORD=semantix
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U semantix"]
      interval: 5s
      timeout: 5s
      retries: 5

  qdrant:
    image: qdrant/qdrant:v1.16.3
    restart: unless-stopped
    ports:
      - "6333:6333" # REST API
      - "6334:6334" # gRPC
    volumes:
      - qdrant_data:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'echo > /dev/tcp/localhost/6333'"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pg_data: {}
  qdrant_data: {}
